<ul class="nav nav-tabs">
  <li class="active">
    <a href="#/opportunities" >All Opportunities</a>
  </li>
  <li class="">
    <a href="#/openings" >All Openings</a>
  </li>
</ul>

<br>
<div id="myTabContent" class="tab-content">
  <div class='container-fluid jumbotron'>
  <div class="tab-pane fade active in" id="profile">
    <div class='col-xs-2'>
    </div>  
    <div class="col-xs-12">
      <img ng-src="{{opportunity.poster}}"><br>
    </div>

    <div class="col-xs-12">
      <h5>
      <div>
        <p>Title : {{opportunity.title}}</p>
      </div>

      <div>
        <p>From: {{opportunity.startDate}} To: {{opportunity.endDate}}</p>
      </div>

      <div>
        <p>Location: {{opportunity.location}}</p>
      </div>

      <div>
        <p>Causes:</p>
        <ul>
          <li ng-repeat="cause in opportunity.causesArea">{{cause}}</li>
        </ul>
      </div>
      <div>
        <p>Skills:</p>
        <ul>
          <li ng-repeat="skill in opportunity.skillsRequired">{{skill}}</li>
        </ul>
      </div>
      <div class='row'>
          <a role="button" class="class='col-xs-6' btn btn-default" href="#/opportunities/edit/{{opportunity._id}}"> <i class='glyphicon glyphicon-pencil'></i> Edit </a>
          <a role="button" class="col-xs-6 btn btn-default"  href="#/openings/{{opportunity._id}}"><i class='glyphicon glyphicon-plus'></i> Create Opening </a>
      </div>
      </h5>

    </div>

  </div>

  </div>
  </br>
  <div class="container-fluid">
       <div class='panel panel-default'>
              <div class="panel-heading" role="tab" id="heading-1">
                <h4 class="panel-title">
                <!-- href="javascript:;" with data-target to control the element to be collapsed, using opportunities objectIds to make each element unique -->
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="javascript:;" aria-expanded="false" aria-controls="c1" class="collapsed" data-target="#c1"> <i class="glyphicon glyphicon-plus"></i> Opening Title </a> 
                </h4> 
              </div>
              <!-- content to be expanded -->
              <div id='c1' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading-1' aria-expanded='false'>
                <div class='panel-body'>
                  <div class='col-md-6'>
                  <p>Causes: </p><p>Type:</p><p>Skills Required:</p><p>Location:</p><p>Number of volunteers required</p>
                </div>
                                  <div class='col-md-3'>
              <button>Apply</button>
                    </div>
              </div>
            </div>
            <div class='panel panel-default'>
              <div class="panel-heading" role="tab" id="heading-2">
                <h4 class="panel-title">
                <!-- href="javascript:;" with data-target to control the element to be collapsed, using opportunities objectIds to make each element unique -->
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="javascript:;" aria-expanded="false" aria-controls="c2" class="collapsed" data-target="#c2"> <i class="glyphicon glyphicon-plus"></i> Opening Title </a> 
                </h4> 
              </div>
              <!-- content to be expanded -->
              <div id='c2' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading-2' aria-expanded='false'>
                <div class='panel-body'>
                  <img src='https://www.artflakes.com/system/profiles/icons/56401/small_icon.jpg?1434623307'> 
                  <p>Causes: </p><p>Type:</p><p>Skills Required:</p><p>Location:</p><p>Number of openings</p>
                    <button class='btn btn-primary' role='button'> View details </button>
                </div>
              </div>
            </div>
  </div>
  <div class='col-xs-2'>
</div>
</div>
