<br>
<div class="col-xs-2"></div>
<div id="container" class="col-xs-8 container-fluid">
  <div class="col-xs-12">
    <img ng-src="{{newOrg.picture}}" class="center-block"><br>
    <input type="button" ng-click="changeProfilePic()" class="btn btn-default center-block"
    value="Change Profile Picture"/>
  </div>
  <div class="col-xs-12">
    <h5>
    <div>
      <label for="name">Name</label>
      <input name='name' type="text"
      ng-model="newOrg.name"
      placeholder="Enter your name here" value="{newOrg.name}"/><br><br>
    </div>
    <div>
      <label for="EIN">EIN</label>
      <input name='EIN' type="text"
      ng-model="newOrg.EIN"
      placeholder="Enter your EIN here" value="{newOrg.EIN}"/><br><br>
    </div>
    <div>
      <label for="missionStatement">Mission Statement</label>
      <input name='missionStatement' type="text"
      ng-model="newOrg.missionStatement"
      placeholder="Enter your mission statement here" value="{newOrg.missionStatement}"/><br><br>
    </div>
    <div>
      <label for="causes_area">Causes Area</label>
      <ul>
      <li ng-repeat="cause in newOrg.causes_area">{{cause}} <a ng-click="removeItem(newOrg.causes_area,cause)" style="color:red;">Remove</a></li>
      </ul>
      <div>
        <input name='causes_area' type="text"
        ng-model="newCause"
        placeholder="Add a cause" value="" />
        <input type="button" value="Add" ng-click="addItem(newOrg.causes_area,newCause)"/>
      </div><br><br>
    </div>
    <div>
      <label for="locations">Locations</label>
      <ul>
      <li ng-repeat="location in newOrg.locations">{{location}} <a ng-click="removeItem(newOrg.locations,location)" style="color:red;">Remove</a></li>
      </ul>
      <div>
        <input name='locations' type="text"
        ng-model="newLocation"
        placeholder="Add a location" value="" />
        <input type="button" value="Add" ng-click="addItem(newOrg.locations,newLocation)"/>
      </div><br><br>
    </div>
    <div>
      <label for="contactInfo">Contact Info</label><br><br>
      <div ng-repeat="key in newOrg.contactInfoKeys">
        <div>
          <label for="key">{{key}}</label>
          <input name='key' type="text"
          ng-model="newOrg.contactInfo[key]"
          placeholder="Enter your {{key}} here" value="{newOrg.contactInfo[key]}"/><br><br>
          </div>
      </div><br><br>
    </div>
    <div>
      <div class="col-xs-5"></div>
      <input ng-if="routeParams.id" type="button" ng-click="save()" class="btn btn-default col-xs-1"
        value="Save"/>
      <input ng-if="!routeParams.id" type="button" ng-click="create()" class="btn btn-default col-xs-1"
        value="Create"/>
      <input type="button" ng-click="cancel()" class="btn btn-default col-xs-1"
        value="Cancel" style="margin-left: 2px;" />
      <div class="col-xs-5"></div>
    </div>
    </h5>
  </div>
</div>
<div class="col-xs-2"></div>