<div class="wrapper">
  <div  class="form-signin">       
    <h3 class="form-signin-heading">Please Sign up</h3>
    <hr class="colorgraph"><br>
    <form name="signinForm" ng-submit='signup()'>
      <input type='text' id='userName' ng-model="user.username" placeholder="User name">
      <input type='text' id='firstName' ng-model="user.firstName" placeholder="First Name">
      <input type='text' id='lastName' ng-model="user.lastName" placeholder="Last Name">
      <input type="password" id='password' ng-model="user.password" placeholder="Password">
      <input type="email" id="email" ng-model="user.email" placeholder="Email">
      <input type="date" id="dateOfBirth" ng-model="user.dateOfBirth" placeholder="Date of Birth">
      <input type="radio" id="gender" value="Male" checked ng-model='user.gender'>Male
      <input type="radio" id="gender" value="female"> Female
      <input type="tel" id="phoneNumber" ng-model="user.phoneNumber" placeholder="Phone Number">
      <input type="text" id="skills" ng-model="user.skills" placeholder="skills">
      <input type="text" name="fileToUpload" id="fileToUpload" ng-model="user.picture" placeholder="Picture Url">
      <br>
      <button class="btn btn-default btn-block so3ad"  type="submit"  name="Submit" value="Login">Sign up</button>
    </form>   
    <br>   
  </div>     
</div>
